<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/main.css"/>
        <title>{{title}}</title>
    </head>
    <body>
    <h1>wtf2</h1>
    <div id="main">
        <p>{{greeting}}</p>
        <p>Well, we are getting somewhere. I think.</p>

    </div>

    </body>
</html>