<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/main.css"/>
        <title>{{title}}</title>
        <script language="JavaScript" src="/js/main.js"></script>
    </head>
    <body id="body">
    <header id="headerbar">
    <h1 id="big_heading">{{big_heading}}</h1>
    </header>
    <div id="main">
        <h2>{{greeting}}</h2>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
        <p>Dogs are the best! No, really, they are.</p>
    </div>

    </body>
</html>